*{
  background-color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
}
.head {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 0px solid rgb(98, 97, 97);
  border-radius: 5px;
}
.head>div:hover{


}
.input {
width: 600px;
border-radius: 30px;
padding: 10px 20px; 
margin-right: 10px;
}
div>i{
    margin-right:05` px;
    font-size: 25px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}
.words {
  text-align: center;
}
.child {
  height: 120px;
  width: 120px;
  border: 1px solid gainsboro;
  border-radius: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 15px;
}
.child > img {
  height: 120px;
  width: 120px;
  border-radius: 60px;
  text-align: center;
}

.child > span {
  margin: 8px;
}
.child:hover {
  transform: scale(1.02);
  transition: 0.5s;
}
.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

h2 {
  text-align: center;
}

.box > div {
  height: 220px;
  width: 170px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box > div:hover {
  box-shadow: 1px 1px 2px lightgray;
  transform: scale(1.02);
  transition: 0.5s;
}

.box > div > img {
  height: 200px;
  width: 170px;
  border-radius: 5px;
}
.box>div>span{
    margin-top: 5px;
}

@media (max-width: 1000px) {
  .box {
    flex-direction: column;
  }

  .box > div {
    width: 95%;
    margin: 0px auto;
    padding: 0px;
    border-color: gray;
    border-radius: 5px;
    height: 90px;
    flex-direction: row;
  }
  .box > div > img {
    height: 100%;
    width: 90px;
  }
  .box > div > span {
    margin: 0px;
    padding-left: 12px;
  }
  div:hover {
    box-shadow: 1px 1px 2px lightgray;
    transform: scale(1.02);
    transition: 0.5s;
  }
}
